$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #A91B60;
$font-size: 2.7rem;
$font-button-small:1.35rem;
$line-height: 1.5;
$font-family: avenir black, sans-serif;
$title-family:"Poppins", sans-serif;
$margins: 2.5%;
$margin: 5%;
$dark-color: #A91B60;
$medium-color: #EC9EC0;
$light-color: #EBE0D0;
$bright-color:#FF0080;
